In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [3]:
df=pd.read_csv(r"C:\Users\amitthakur3\Documents\Training\Chisquare.csv")

In [4]:
df.head()

   Observed  Expected
0        41        33
1        59        67

In [5]:
df["O_E_Dif"]=df["Observed"]-df["Expected"]

In [6]:
df.head()

   Observed  Expected  O_E_Dif
0        41        33        8
1        59        67       -8

In [8]:
Chi_Square=sum(df["O_E_Dif"]**2/df["Expected"])
Chi_Square

2.8946178199909545

In [9]:
Dof=len(df.index)-2

In [20]:
x=[[41,33],[59,67]]

In [36]:
x=[[41,33],[59,67]]
p1=list(chi2_contingency(x))
p_value=p1[1]
p_value

0.3052651445190301

In [37]:
significance_level = 0.05
if p_value <= significance_level: 
    print('Reject NULL HYPOTHESIS') 
else: 
    print('ACCEPT NULL HYPOTHESIS')

ACCEPT NULL HYPOTHESIS